{% extends 'base.html' %}


{% block title %} New Task {% endblock title %}


{% block content %}
<h1>New task</h1>
<form method="POST" action="{{ url_for('create_task') }}">

    <p>
        <lable for="summary">Summary</lable>
        <input type="text" name="summary" id="id_summary">
    </p>

    <p>
        <lable for="description">Description</lable>
        <input type="text" name="description" id="id_description">
    </p>

    <input type="hidden" value="1" name="status_id" id="id_status_id">
    <input type="hidden" value="1" name="active" id="id_active">

    <p>
        <input type="submit" value="Create" class="btn btn-success">
    </p>

</form>
{% endblock content %}